// fonts and colors and size
$primary: #613583;
$background: #e0e0e0;
$green: #26a269;
$yellow: #e5a50a;
$blue: rgb(62, 84, 163);
$black: #636363;
$darkblack: #1d1027;
$pink: rgb(207, 99, 144);
$ligh-blue: rgb(106, 190, 205);
$red: rgb(237, 44, 73);

$font-satoshi: "Satoshi", sans-serif;

$font-xl: 3rem;
$font-lg: 2rem;
$font-md: 1.5rem;
$font-sm: 1rem;
