// fonts and colors and size

$black: #292929;
$light-black: #333333;
$white: #fff;
$light-pink: #e2e2e2;
$offwhite: rgb(223, 223, 223);
$gray: #616161;
$light-blue: #4693ed;

$baskervvile: "Baskervville", serif;
$bellefair: "Bellefair", serif;
$font-main: "STIX Two Text", serif;
$font-clash: "Clash Display", sans-serif;
$font-satoshi: "Satoshi", sans-serif;

$font-xl: 4rem;
$font-lg: 2rem;
$font-md: 1.5rem;
$font-sm: 1rem;
