*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

img,
picture {
  max-width: 100%;
  display: block;
  line-height: 0;
}

input,
button,
textarea,
select {
  font: inherit;
}

button {
  all: unset;
  cursor: pointer;
}

body {
  font-size: 1rem;
  background: #e0e0e0;
  font-family: "Roboto", sans-serif;
  color: #636363;
  text-transform: capitalize;
}

label[for=search] {
  display: none;
}

.container {
  display: flex;
}

.container--center {
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container--between {
  justify-content: space-between;
  align-items: center;
}

.container--col {
  flex-direction: column;
}

.container--center-row {
  justify-content: center;
  align-items: center;
}

.gap--lg {
  gap: 2rem;
}

.gap--md {
  gap: 1rem;
}

.gap--sm {
  gap: 0.3rem;
}

.round-btn {
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #636363;
  border-radius: 50%;
  width: 1.5rem;
  height: 1.5rem;
}
.round-btn img {
  -o-object-fit: contain;
     object-fit: contain;
}

.button--primary {
  padding: 0.5rem 2rem;
  border: 1px solid #613583;
  background: #613583;
  color: #e0e0e0;
  transition: 0.3s ease-in-out;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.button--primary:hover,
.button--primary:focus {
  background: transparent;
  color: #636363;
  transition: 0.3s ease-in-out;
}

.image-container {
  border: 0.6rem solid #e0e0e0;
  border-radius: 0.5rem;
  box-shadow: 5px 5px 10px #b5b5b5, -5px -5px 10px #ffffff;
}

.navbar {
  padding: 2rem;
  text-transform: capitalize;
}

.navbar__hamburger {
  display: none;
}

.navbar__links {
  gap: 1rem;
}
.navbar__links img {
  width: 1.2rem;
}

.nav__close {
  display: none;
}

.navbar__logo-mobile {
  display: none;
}

@media screen and (max-width: 700px) {
  .navbar {
    padding: 1rem;
  }
  .navbar__hamburger {
    display: flex;
  }
  .navbar__hamburger[aria-expanded=false] ~ .navlink-link {
    display: none;
  }
  .navbar__hamburger[aria-expanded=false] ~ .nav__close {
    display: none;
  }
  .nav__close {
    display: flex;
    position: absolute;
    top: 2rem;
    right: 2rem;
    z-index: 2;
  }
  .nav__close img {
    width: 1.3rem;
  }
  .navbar__logo-mobile {
    display: flex;
    width: 5rem !important;
    margin-bottom: 3rem;
  }
  .navlink-link {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0rem;
    flex-direction: column;
    background: #e0e0e0;
    padding: 2rem;
    gap: 2rem;
    z-index: 1;
  }
  .navbar__NavLinks {
    gap: 0.5rem;
  }
  .navbar__NavLinks img {
    width: 1.2rem;
  }
  .navbar__logo {
    max-width: 5rem;
  }
}
.landing,
.example {
  padding: 2rem;
  min-height: 90vh;
}

.what {
  padding: 2rem;
  padding-top: 5rem;
}

.landing {
  background-size: cover;
  background-repeat: no-repeat;
  background-color: rgb(0, 0, 0);
  background-blend-mode: darken;
}
.landing h1 {
  font-size: 3rem;
  color: #613583;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
}
.landing h1 img {
  width: 10rem;
}

.what img {
  max-width: 30rem;
}
.what h2 {
  color: rgb(62, 84, 163);
  font-weight: 700;
  font-size: 2.5rem;
  position: relative;
  margin-bottom: 1rem;
}
.what h2::before {
  position: absolute;
  content: "";
  background: url("../images/curve.svg") no-repeat center/contain;
  width: 30%;
  height: 2rem;
  bottom: -1rem;
}
.what li {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.what li span {
  font-size: 2rem;
}

.use {
  color: rgb(62, 84, 163);
  font-weight: 700;
  margin-top: 2rem;
  font-size: 1.2rem;
}

.example {
  padding-top: 4rem;
  color: rgb(207, 99, 144);
}
.example h3 {
  font-size: 2rem;
  margin-bottom: 2rem;
  font-size: 2.5rem;
  position: relative;
}
.example h3::before {
  position: absolute;
  content: "";
  background: url("../images/curve.svg") no-repeat center/contain;
  width: 70%;
  height: 2rem;
  bottom: -2rem;
}

.example__images {
  flex-wrap: wrap;
}
.example__images img {
  max-width: 12rem;
}

.combine {
  padding: 2rem;
  width: 100%;
}
.combine h3 {
  font-size: 3rem;
  text-align: center;
  color: #1d1027;
}

.build__container {
  width: 100%;
  margin-top: 2rem;
}

.add {
  padding: 2rem;
  border-radius: 0.5rem;
  display: flex;
  gap: 2rem;
  justify-content: space-between;
  background: #e0e0e0;
  box-shadow: inset 5px 5px 10px #b5b5b5, inset -5px -5px 10px #ffffff;
}
.add input {
  padding: 1rem;
  border-radius: 0.5rem;
  border: none;
  width: 85%;
  position: relative;
}
.add button {
  width: 15%;
  border-radius: 0.5rem;
  text-align: center;
  position: relative;
  background: rgb(62, 84, 163);
  color: #e0e0e0;
}
.add .error {
  border: 0.2rem solid rgb(237, 44, 73);
}
.add .error::after {
  content: "Please add a link";
  text-transform: capitalize;
  color: rgb(237, 44, 73);
  position: absolute;
  top: 3rem;
  width: 10rem;
  height: 10rem;
}

.dummy-nav,
.dummy-land,
.dummy-foot,
.dummy-sec {
  display: flex;
  justify-content: center;
  align-items: center;
}

.dummy-nav {
  border: 1px solid #636363;
  padding: 1rem 2rem;
}

.dummy-land {
  border: 1px solid #636363;
  height: 50vh;
}

.dummy-sec {
  border: 1px solid #636363;
  height: 50vh;
}

.dummy-foot {
  border: 1px solid #636363;
  padding: 1rem 2rem;
}

.explore {
  padding: 2rem;
}
.explore h1 {
  color: rgb(237, 44, 73);
  font-size: 3rem;
  font-weight: 700;
}

.components {
  margin-top: 3rem;
  display: flex;
  flex-wrap: wrap;
}

.component img {
  max-width: 12rem;
  border-radius: 5px;
}

.component:nth-child(even) {
  margin-top: 2rem;
}

.component__container {
  flex-wrap: wrap;
  padding: 2rem;
}
.component__container img {
  max-width: 15rem;
}/*# sourceMappingURL=main.css.map */