@use "../../styles/assets" as *;

.combine {
  padding: 2rem;
  width: 100%;
}

.sidebar {
  width: 20%;
  height: 100vh;
  background: $pink;
}

.build__container {
  width: 75%;
}

.dummy-nav,
.dummy-land,
.dummy-foot,
.dummy-sec {
  display: flex;
  justify-content: center;
  align-items: center;
}

.dummy-nav {
  border: 1px solid $black;
  padding: 1rem 2rem;
}

.dummy-land {
  border: 1px solid $black;
  height: 50vh;
}

.dummy-sec {
  border: 1px solid $black;
  height: 50vh;
}

.dummy-foot {
  border: 1px solid $black;
  padding: 1rem 2rem;
}
