@use "../../styles/assets" as *;

.combine {
  padding: 2rem;
  width: 100%;
  h3 {
    font-size: 3rem;
    text-align: center;
    color: $darkblack;
  }
}

.build__container {
  width: 100%;
  margin-top: 2rem;
}

.add {
  padding: 2rem;
  border-radius: 0.5rem;
  display: flex;
  gap: 2rem;
  justify-content: space-between;
  background: $background;
  box-shadow: inset 5px 5px 10px #b5b5b5, inset -5px -5px 10px #ffffff;

  input {
    padding: 1rem;
    border-radius: 0.5rem;
    border: none;
    width: 85%;
    position: relative;
  }

  button {
    width: 15%;
    border-radius: 0.5rem;
    text-align: center;
    position: relative;
    background: $blue;
    color: $background;
  }

  .error {
    border: 0.2rem solid $red;

    &::after {
      content: "Please add a link";
      text-transform: capitalize;
      color: $red;
      position: absolute;
      top: 3rem;
      width: 10rem;
      height: 10rem;
    }
  }
}

.dummy-nav,
.dummy-land,
.dummy-foot,
.dummy-sec {
  display: flex;
  justify-content: center;
  align-items: center;
}

.dummy-nav {
  border: 1px solid $black;
  padding: 1rem 2rem;
}

.dummy-land {
  border: 1px solid $black;
  height: 50vh;
}

.dummy-sec {
  border: 1px solid $black;
  height: 50vh;
}

.dummy-foot {
  border: 1px solid $black;
  padding: 1rem 2rem;
}
